name: Yocto Raspberry Pi Build

on:
  workflow_dispatch:

jobs:
  build-yocto:
    runs-on: ubuntu-24.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y gawk wget git-core diffstat unzip texinfo \
          gcc-multilib build-essential chrpath socat cpio python3 python3-pip \
          python3-pexpect xz-utils debianutils iputils-ping libsdl1.2-dev \
          xterm zstd liblz4-tool

    - name: Set up Yocto environment
      run: |
          git clone -b kirkstone https://github.com/yoctoproject/poky.git
          git clone -b kirkstone https://github.com/agherzan/meta-raspberrypi.git
          cd poky
          source ./oe-init-build-env 
          bitbake core-image-minimal

    - name: Build image
      run: |
        source poky/oe-init-build-env
        bitbake core-image-base

    - name: Upload image artifact
      uses: actions/upload-artifact@v4
      with:
        name: yocto-rpi-image
        path: build/tmp/deploy/images/raspberrypi4/
