name: test

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:

      - name: test conan case1
        run: |
          pip3 install conan
          conan --version
          pip3 install cmake
          cmake --version

          git clone https://github.com/silabs-CongD/abc.git --branch=conan
          cd abc/conan_case1
          conan profile detect
          echo ==============================
          conan create .
          echo ==============================
          echo ==============================
          ls test_package/build/gcc-13-x86_64-gnu17-release
          ./test_package/build/gcc-13-x86_64-gnu17-release/example

      - name: test conan case2
        run: |
          cd abc/conan_case2
          conan install . --build=missing
          echo ==============================
          echo ==============================
          cmake . -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Release
          cmake --build .
          ./example
      # - name: Do sync
      #   run: |
          
      #     curl -X POST \
      #       -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
      #       -H "Accept: application/vnd.github+json" \
      #       https://api.github.com/repos/silabs-CongD/abc/pulls/4/requested_reviewers \
      #       -d '{"reviewers": ["congneb"]}'
