name: Zephyr

on:
  workflow_dispatch:
  
jobs:
  zephyr:
    runs-on: ubuntu-latest  
    steps:
      - name: Zephyr
        run: |
          sudo apt update
          sudo apt upgrade

          sudo apt install --no-install-recommends git cmake ninja-build gperf \
            ccache dfu-util device-tree-compiler wget python3-dev python3-venv python3-tk \
            xz-utils file make gcc gcc-multilib g++-multilib libsdl2-dev libmagic1

            python3 -m venv ~/zephyrproject/.venv
            source ~/zephyrproject/.venv/bin/activate
            pip install west
            west init ~/zephyrproject
            cd ~/zephyrproject
            west update
            
            west zephyr-export
            west packages pip --install

      - name: Zephyr SDK
        run: |
            cd ~
            wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.17.4/zephyr-sdk-0.17.4_linux-x86_64.tar.xz
            wget -O - https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.17.4/sha256.sum | shasum --check --ignore-missing
            
            tar xvf zephyr-sdk-0.17.4_linux-x86_64.tar.xz
            cd zephyr-sdk-0.17.4
            ./setup.sh



  
